/*:root {*/
/*    --darker-green-color: #1c6758;*/
/*    --darker-green-hover-color: #135E4F;*/
/*    --lighter-green-color: #3d8361;*/
/*    --background-color: #f6f6f6;*/
/*    --white-color: #fff;*/
/*    --card-bg-color: #f6fbf4;*/
/*    --card-border-color: #DAE7D4;*/
/*    --font-color: #454545;*/
/*    --purple-accent-color: #6554af;*/
/*    --accent-active-color: #5aad7d;*/
/*    --accent-not-active-color: #e64848;*/
/*    --table-even-color: #f2f2f2;*/
/*    --table-border-color: #ddd;*/
/*    --table-hover-color: #ddd;*/
/*    --message-color: rgba(255, 255, 255, 0.6);*/
/*    --box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;*/
/*    --transition-time: 300ms;*/
/*    --transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);*/
/*}*/

/*@import url("common.css");*/

body {
    color: #454545 !important;
    background-color: #f6f6f6 !important;
}

.container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.page-header {
    font-size: 28px;
    margin: 10px 0 30px 0 !important;
    text-align: center;
    color: #1c6758;
    font-weight: 600;
}

.bg-primary {
    background-color: #1c6758!important;
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-close {
    color: #fff !important;
}

.btn.btn-success{
    background-color: #1c6758!important;
    border-color: #1c6758!important;
}


.btn.btn-success:hover,
.btn.btn-success:focus {
    background-color: #1c6758!important;
    border-color: #1c6758!important;
    transition: background-color 300ms cubic-bezier(0.61, 1, 0.88, 1);
}